body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

canvas {
    border: 1px solid black;
}

.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
